<script language="javascript">
	window.onload = function(){
        var g1 = new Guppy("edit-gumpy");
        g1.configure('empty_content', "\\color{red}{\\text{[?]}}");
    }
</script>
<div id="edit-gumpy"></div>	
<mat-card>
  <form #equationForm="ngForm" (ngSubmit)="save(equationForm.value)">
    <mat-card-header>
      <mat-card-title><h2>{{equation.name ? 'Edit' : 'Add'}} Equation</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="equation.href">
      <mat-form-field>
        <input matInput placeholder="Equation Name" [(ngModel)]="equation.name"
               required name="name" #name />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!equationForm.form.valid">Save</button>
      <button mat-raised-button color="secondary" (click)="remove(equation.href)"
              *ngIf="equation.href" type="button">Delete</button>
      <a mat-button routerLink="/equation-list">Cancel</a>
    </mat-card-actions>
    <mat-card-footer>
      <div class="giphy">
        <img src="{{equation.giphyUrl}}" alt="{{equation.name}}">
      </div>
    </mat-card-footer>
  </form>
</mat-card>